.current {
  padding: 12px;
}
.sideline {
  padding: 12px;
}
#plusdiv {
  text-align:center;
}
#plusspan {
  display:inline-block;
}
@media (min-width: 980px) {
  .container{
    width: 770px;
  }
}
