<!doctype html>
<html>
<head>
  <!-- bootstrap requires jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="arenafy.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!--<script src="../common/angular.min.js"></script> -->
  <!-- also available locally but who knows how that'll work out -->
</head>
<body ng-app="myApp">
  <div class="main container" ng-controller="MainController">
    <div class="page-header">
      <h1>Arenafy!</h1>
      <h4>Make a competition out of anything</h4>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-6 current" ng-click="update(left, right)"
               ng-style="{'background-color':(colours[left%colours.length])}">
            <p>{{contestants[left].name}}</p>
          </div>
          <div class="col-xs-6 current" ng-click="update(right, left)"
               ng-style="{'background-color':(colours[right%colours.length])}">
            <p>{{contestants[right].name}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- where the data is stored (current standings, add new, etc.)-->
        <div class=sideline ng-repeat="a in range(contestants.length) track by $index"
        ng-style="{'background-color':(colours[$index%colours.length])}">
        {{contestants[$index].name}} </br>
        {{getPerformanceRating($index) | number:0 }}
        </div>
        <div class="row">
          <div
          class="sideline col-xs-1" id="plusdiv" ng-click="addNew()">
            <span class="glyphicon glyphicon-plus" id="plusspan"</span>
          </div>
          <div id="inputbox" class="col-xs-5 sideline" contenteditable="true">
            Add new item
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
  <script src="MainController.js"></script>
</body>
</html>
